@media (max-width: 500px) {
    .page-main-title {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -2px;
    }

    .page-main-text {
        font-size: 16px;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
    }

    .form {
        width: 100%;
    }

    .form p {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    .page-main-title {
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -2px;
    }

    .page-main-text {
        font-size: 16px;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
    }

    .form {
        width: 400px;
        margin: 0 auto;
    }

    .form p {
        font-size: 14px;
    }
}

.constrain {
    max-width: 800px;
    margin: 0 auto;
}