@media (max-width: 500px) {
    .home-img {
        height: 40vh;
        border-radius: 15px;
        object-fit: cover;
        object-position: bottom;
    }

    .home-title {
        padding: 0em 1em;
        font-size: 14vw;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 1em;
        text-decoration: underline;
        text-decoration-color: #676565;
        word-wrap: break-word;
    }

    .home-caption {
        background-color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 20px;
        text-shadow: 1px 1px 1px #ffffff;
        padding: 1em;
        border-radius: 15px;
        line-height: 1.2em;
    }

    .home-img-left {
        position: fixed;
        height: 250px;
        width: 180px;
        left: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -100;
    }

    .home-img-right {
        position: fixed;
        height: 250px;
        width: 180px;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -100;
    }

    .home-pair {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home-ad {
        width: 100%;
        height: 500px;
        object-fit: contain;
        gap: 15px;
    }

    .home-block {
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        gap: 15px;
    }

    .home-head {
        font-size: 24px;
        font-weight: 500;
        padding: 1em;
    }

    .home-text {
        font-size: 14px;
    }
}

@media (min-width: 500px) {
    .home-img {
        height: 40vh;
        border-radius: 15px;
        object-fit: cover;
        object-position: bottom;
    }

    .home-title {
        padding: 4vh 1em;
        font-size: 80px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 1em;
        text-decoration: underline;
        text-decoration-color: #676565;
        word-wrap: break-word;
    }

    .home-caption {
        background-color: rgba(255, 255, 255, 0.6);
        font-weight: 400;
        font-size: 20px;
        text-shadow: 1px 1px 1px #ffffff;
        padding: 1em;
        border-radius: 15px;
        line-height: 1.2em;
    }

    .home-body {
        max-width: 1000px;
        margin: 0 auto;

    }

    .home-img-left {
        position: fixed;
        height: 400px;
        width: 280px;
        left: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -100;
    }

    .home-img-right {
        position: fixed;
        height: 320px;
        width: 220px;
        right: 0;
        bottom: 0;
        object-fit: cover;
        z-index: -100;
    }

    .home-pair {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-block {
        background-color: rgba(255, 255, 255, 0.8);
        max-width: 400px;
        padding: 1em;
        border-radius: 15px;
    }

    .home-head {
        font-size: 26px;
        font-weight: 500;
        color: #5D23EB;
    }

    .home-ad {
        width: 100%;
        height: 500px;
        object-fit: contain;
        border-radius: 10px;
    }
}